.characters-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 61vw;
    height: 60vh;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 10px;
}